name: Publish migrations to deployment repos

on:
  workflow_run:
    workflows: ["Generate Bytebase rollout plan"]
    types: [completed]

jobs:
  publish-nonprod:
    if: github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push'
    uses: naing2htun/actions/.github/workflows/sql-publish.yml@main
    with:
      deployment-repo: "naing2htun/deployment"
      environments: '["qa", "stg"]'
    secrets:
      deployment-token: ${{ secrets.DEPLOYMENT_REPO_TOKEN }}

  publish-prod:
    if: github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'repository_dispatch'
    uses: naing2htun/actions/.github/workflows/sql-publish.yml@main
    with:
      deployment-repo: "naing2htun/prod-deployment"
      environments: '["prod"]'
    secrets:
      deployment-token: ${{ secrets.PROD_DEPLOYMENT_REPO_TOKEN }}